body {
    color: rgb(68, 3, 3);
    padding: 100px;
    font-family: Arial;
    text-align: center;
    background: url("C:\Users\satya\Desktop\demo-app\src\942619.png") no-repeat;
    background-size: cover;
  }